/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.text-input { -fx-stroke: #00aaee; }
.hbox-canvas { -fx-background-color: #ffffffff; -fx-border-width: 3; -fx-border-color: #444444; }
.canvas { -fx-background-color: #ffffffff; -fx-border-width: 3; -fx-border-color: #444444; }